In [102]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score        # optional for our example


def count_months(df):
  df.groupby('date')

  df = pd.DataFrame({'date':pd.date_range(start=dt.datetime(2015,12,20),end=dt.datetime(2016,3,1))})
  df.groupby([df['date'].dt.year, df['date'].dt.month]).agg({'count'})

  return df


# Import data and preparation
df = pd.read_csv("files/Case_PRB.csv", header = 0)
df = df.fillna(0)

# Retrieve the dataframe for the United States
df = df[(df['location'] == "Netherlands")]
df_netherlands = count_months(df)

df_netherlands.tail(50)
# X = pd.to_datetime(df_netherlands['date'])
# y = df_netherlands[['total_cases']]



# Plotting the information
# plt.rcParams["figure.figsize"] = (30, 10)
# plt.bar(X, np.array(y['total_cases']), color="blue")
# plt.xlabel('date')
# plt.ylabel('Number of cases')
# plt.plot()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (1,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         date
23 2016-01-12
24 2016-01-13
25 2016-01-14
26 2016-01-15
27 2016-01-16
28 2016-01-17
29 2016-01-18
30 2016-01-19
31 2016-01-20
32 2016-01-21
33 2016-01-22
34 2016-01-23
35 2016-01-24
36 2016-01-25
37 2016-01-26
38 2016-01-27
39 2016-01-28
40 2016-01-29
41 2016-01-30
42 2016-01-31
43 2016-02-01
44 2016-02-02
45 2016-02-03
46 2016-02-04
47 2016-02-05
48 2016-02-06
49 2016-02-07
50 2016-02-08
51 2016-02-09
52 2016-02-10
53 2016-02-11
54 2016-02-12
55 2016-02-13
56 2016-02-14
57 2016-02-15
58 2016-02-16
59 2016-02-17
60 2016-02-18
61 2016-02-19
62 2016-02-20
63 2016-02-21
64 2016-02-22
65 2016-02-23
66 2016-02-24
67 2016-02-25
68 2016-02-26
69 2016-02-27
70 2016-02-28
71 2016-02-29
72 2016-03-01